@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "./table-dark.css";

/* Ẩn icon con mắt mặc định của Edge, Chrome */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
}